.input {
  display: flex;
  margin-right: 12px;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  &-button {
    align-items: center;
    background-color: #0e7aff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .2);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: Helvetica Neue, sans-serif;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 12px;
    padding: 15px 35px 15px 23px;
    transition: all .3s ease;

    i {
      font-size: .7rem;
      margin-right: 12px;
    }

    &:hover {
      background-color: #06182b;
    }
  }

  &-label {
    background-color: #f3f4f6;
    border: 0;
    border-radius: 3px;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    color: #7c8487;
    font-family: Roboto, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    height: 100%;
    width: 100%;

    &__text {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s ease;
    }
  }

  &-text {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;

    &::placeholder {
      color: #9da4aa;
    }

    &:focus,
    &--filled {
      &+ .input-label__text {
        font-size: .6rem;
        font-weight: bold;
        text-transform: uppercase;
        top: 12px;
      }
    }
  }
}
