.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  width: 100%;

  &--centered {
    justify-content: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
